body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* nav bar */
.top_container{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    position:fixed;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap; 
    top: 0;
    align-content: space-between;
    align-items: center;
}
.top_logo{
    width: 30%;
    height: 60px;
    margin-top: 10px;
}
.top_button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    width: 60%;    
    font-family: "Arial";
    font-style: normal;
    font-size: 13px;
    color: rgb(135, 130, 130);
    height: 100%;
    margin-right: 5%;
}
@media (max-width:1170px) {
    /* .top_container{
        flex-direction: column;
        position: relative;
    }
    .top_button{
        flex-direction: column;
    } */
    .top_logo{
        width: 10%;
    }
    .top_button{
        width: 75%;
        margin-right: 0;
        gap: 0px;
    }
    .now{
        width: 100%;
    }
}
.top_button p{
    margin: 7px;
}
.top_button p:hover{
    color:  rgb(81, 78, 78);
    cursor: pointer;
}
.top_button input{
    margin: 7px;
}
.btn_on_top{
    border: 1px solid #b3064f;
    color: #b3064f; 
    height: 40px;
    width: 90px;
    font-weight: 100;
    background-color: rgb(255, 255, 255);
}
.btn_on_top:hover {
    background-color:#cb246a;
    color: white;
  }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4c4a4a;
    width: 200px;
    font-family: "Arial";
    font-style: normal;
    font-size: 18px;
    padding: 0;
    color: aliceblue;
    box-shadow: 0px 8px 16px 0px rgba(18, 18, 18, 0.2);
    margin: 0;
    z-index: 999;
    line-height: 1.8em;
}

.dropdown:hover .dropdown-content {
    display : block;
}
.dropdown-content p:hover{
    background-color: #436fb4;
    color: aliceblue;
}
/*
.ham_bar{
    display: none;
    cursor: pointer;
}
.ham_bar div{
    display: block;
    width :25px;
    height: 10px;
    margin:5px auto;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: rgb(43, 41, 41);
}
@media (max-width: 910px) {
    .ham_bar{
        display: block;
    }
    .ham_bar.active .bar:nth-child(2){
        opacity: 0;
    }
    .ham_bar.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45 deg);
    }
    .ham_bar.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45 deg);
    }
    .top_button{
        position:fixed;
        left: -100;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: white;
        width: 100%;
        text-align: center;
    }
    .nav_link{
        margin: 16px 0;
    }
    .top_button.active{
        left:0;
    }
} */



.back{
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url(construction.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    opacity: 100;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start   ;
}
.back_content{ 
    line-height: 1.3em; 
    letter-spacing: 1px;
    margin-top: 200px;
    margin-bottom: 200px;
}

.back_h1{
    font-size: 80px; 
    font-family: Verdana, sans-serif; 
    font-weight: 100;
    line-height: 1.2em; 
    color:aliceblue;
    
}
.back_h2{
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 100;
    font-size: 25px; 
    color:aliceblue;
    line-height: 1.4em; 
    
}
.back_input{
    font-family: inherit;
    font-size: 20px; 
    height: 40px; 
    border: 1px solid; 
    border-radius: 5px;
    color:rgb(0, 0, 0);
    border-color: #f9f9f9; 
    background:#f9f9f9;
    margin: auto;
}

input:hover{
    
    background-color:#d3cdcd;
    cursor: pointer;
}


.services{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    align-content: space-between;
    width: 90%;
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgb(244, 238, 238);
    
}

.ser_div{
    align-items: center;
    font-family: 'Open Sans', arial;
    font-weight: 100;
    font-size: 15px;
    width:20%;
    color: #686868;
    padding: 2px 16px;
    transition: 0.3s;
    margin-top: 60px;
}
img:hover{
    cursor: pointer;
}
.small{
    width: 100%;
}
@media (max-width: 1080px) {
    .small{
        width:100%
    }
    .ser_div{
        width: 20%;
    }
    
}
@media (max-width: 970px) {
    .small{
        width:100%
    }
    .ser_div{
        width: 28%;
    }
    
}
@media (max-width: 550px) {
    .ser_div{
        width:40%;
    }
    .small{
        width:70%
    }
    
}

.qoute{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(252, 252, 252) ;
}
.qoute_write{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 80px;
    margin-left: 10%;
    width: 80%;
    text-align: center;
    font-size: 1.3em; 
    font-family: Verdana, sans-serif; 
    font-size: 20px;
    font-weight: 200;
    color: #686868;
    letter-spacing: 1px;
    line-height: 1.86em;
    font-style: italic;
}
.qoute_write{
    cursor: grab;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
.active, .dot:hover {
background-color: #717171;
}

/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}



.safty{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    width: 90%;
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 1.86em;
    font-family: 'Open Sans', arial;
    font-weight: 400;

}

.safty_img{ 
    width: 30%;
}
.safty_text{ 
    width: 40%;
    padding-left: 5%;
    font-family: "Arial";
}
.div_text_head{
    color: #436fb4; 
    font-size: 32px; 
    letter-spacing: 1px;
}
.div_text{
    font-size: 1.04em; 
    font-family:Open Sans;
    text-align:left;
    color: #606060; 
    line-height: 2.0em;
    margin-top: 30px;
    font-family: Verdana, sans-serif; 
    font-size: 15px;
}

@media (max-width: 1146px) {
    .safty_text{
        width:100%;
    }
    .safty_img{
        width:100%;
    }
    .safty{
        flex-direction: column;
        align-content: center;
    }
    
}
@media (max-width: 767px) {
    .ser_div{
        width:90%;
    }
    
} 




.services2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    align-content: space-between;
    width: 90%;
    margin: 7%;
}
.ser_div2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-end;
    font-family: Verdana, sans-serif; 
    font-size: 20px;
    font-weight: 400;
    color: hsl(0, 1%, 28%);
    width: 30%;   
    padding: 2px 16px;
    transition: 0.3s;
    margin-top: 60px;
}   

.ser_div_text1{
    color:rgb(62, 62, 60); 
    font-size:20px;
}
.ser_div_text1:hover{
    cursor: pointer;
    color: rgb(225, 95, 95);
}
.ser_div_time{
    color:rgb(186, 186, 180); 
    font-size:10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.ser_div_text2{
    color:rgb(134, 134, 129); 
    font-size:15px;
    
    font-family: Verdana, sans-serif;
}

@media (max-width : 1065px   ) {
    .ser_div2{
        width: 45%;
    }
    
}

@media (max-width : 870px   ) {
    .ser_div2{
        width: 85%;
    }
    
}
.answer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
    width: 100%; 
    padding: 5%;
    background-color: #2b4b7e;
}
.answer_text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    width: 40%;
}
.answer_btn{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-end;
    width: 50%;
}
.text{
    color: #fff;
    font-size: 32px;
    font-family: 'Open Sans', arial;
    font-weight: 400;
    font-size: 40px;
}
.text1{
    color: rgb(227, 225, 225);
    font-size: 32px;    
    font-family: 'Open Sans', arial;
    font-weight: 400;
    font-size: 20px;
}

.answer_2{
    color:aliceblue; 
    width: 90%;
    height : 250px; 
    background: #2b4b7e;
    padding-left: 10%;
}
.answer_text_2{
    width: 40;
    float: left;
}
.answer_btn_2{
    width: 40;
}

.btn_ask{
    font-size: 20px; 
    height: 60px; 
    border: 2px solid; 
    border-color: #f9f9f9; 
    color:#ebeced;
    background: #2b4b7e;
    font-size: 20px;  
    border-radius: 5px;
    font-family: 'Open Sans', arial;
}
.btn_ask:hover{
    color: #000000; 
    background: #fdfeff;
}
@media (max-width: 970px) {
    .answer{
        flex-direction: column;
    }
    .answer_text{
        width: 100%;
        align-items: center;
        align-content:  center;
    }
    .answer_btn{
        width: 100%;
        align-items: center;
        align-content:  center;
    }
    
}



.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;  
    background-color: #436fb4; 
    font-size: 14px; 
    color:aliceblue;
    height: 500px;
}

.footer_div1_p1{
    font-family: Arial; 
    font-weight: 500; 
    line-height: 1.1; 
    font-size:large
}
.footer_div1_h3{
    font-family: Arial; 
    font-weight: 500; 
    line-height: 1.1; 
    font-size:small; 
    letter-spacing: 1px; 
    line-height: 1.86em;
}
.footer_div1_h3_2{
    font-family: Arial; 
    font-weight: 500; 
    line-height: 1.1; 
    font-size:medium; 
    letter-spacing: 1px; 
    line-height: 1.86em;
}




.footer_div2_h2{
    font-family: Arial; 
    font-weight: 500; 
    line-height: 1.1; 
    font-size:large
}
.footer_div2_h3{
    font-family: Arial; 
    font-weight: 500; 
    line-height: 1.1; 
    font-size:small;
    letter-spacing: 1px; 
    line-height: 0.86em;
}

.footer_last{
    height:50px; 
    color:aliceblue; 
    background: #30558e;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.phone_no{
    font-family: Arial; 
    font-weight: 500; 
    line-height: 1.1; 
    font-size:small;
     letter-spacing: 
     1px; line-height: 1.86em;
}
.phone_no:hover{
    cursor: pointer;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    
}
.footer_div_1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    width: 40%;
    padding: 0 3%;
}
.footer_div_2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    width: 20%;
    padding: 0 3%;
}
.footer_div_3{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    width: 20%;
    padding: 0 3%;
}
@media (max-width: 1000px) {
    .footer{
        height: inherit;
    }

    .footer_div_1{
        width: 90%;
    }
    .footer_div_2{
        width: 40%;
    }
    .footer_div_3{
        width: 40%;
    }
    
}
@media (max-width: 760px) {
    .footer{
        height: inherit;
    }

    .footer_div_1{
        width: 90%;
    }
    .footer_div_2{
        width: 90%;
    }
    .footer_div_3{
        width: 90%;
    }
    
}

.footer_contact{
    font-family: Arial; 
    font-weight: 500; 
    line-height: 1.1; 
    font-size:large
}
.footer_address{
    font-family: Arial; 
    font-weight: 500;
    line-height: 1.1; 
    font-size:small;
    letter-spacing: 1px; 
    line-height: 1.86em;
}